<%= render 'users/user', users: @user %>
<%= link_to '編集', edit_user_path(current_user.id) %>
<%= render 'books/book', books: @book %>


<table>
<thead>
  <tr>
    <th>image</th>
    <th>user</th>
  </tr>
</thead>
<tbody>
  <% @users.each do |user| %>
	<tr>

	  <td>
	    <%= image_tag 'no_image.jpg' %>
	    <!--%= attachment_image_tag user, :profile_image, :fill, 50, 50,fallback: "no_image.jpg"%-->
	  </td>
	  <td><%= user.name %></td>
	  <td><%= link_to "Show", "/users/#{user.id}" %></td>
	</tr>
	<% end %>
</tbody>
</table>