<div class="container">
  <div class="row">

    <div class="col-md-3">

      <%= render 'users/user', user: @user %>
      <%= render 'books/book', book: @book_new %>
    </div>

    <div class="col-md-8 offset-md-1">
      <table class="table book-show">
        <h2>Book detail</h2>
        <tr>
          <td>
            <%= attachment_image_tag @user, :profile_image, :fill, 30, 30,fallback: "no_image.jpg" %>
            <%= link_to @user.name, user_path(@user) %>
          </td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td>
            <%= render 'books/favorite', book: @book %>
          </td>
          <td>
            <p>コメント数:<%= @comments.count %></p>
          </td>

          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-sm btn-danger" %></td>
          <% end %>
        </tr>
      </table>

      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <div class="form-group">
                <td>
                  <%= attachment_image_tag comment.user, :profile_image, :fill, 30, 30,fallback: "no_image.jpg" %><br>
                  <%= link_to comment.user.name, user_path(comment.user) %>
                </td>
                <td><%= comment.comment %></td>
                <td><%= link_to "削除", book_book_comment_path(@book, comment), method: :delete, class:"btn btn-sm btn-danger" %></td>
              </div>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="form-group">
        <%= form_for [@book, @comment] do |f| %>
          <%= f.text_area :comment %>
          <%= f.submit '送信', class: "btn-sm btn-primary" %>
        <% end %>
      </div>

    </div>

  </div>
</div>


